<html>
<head>
  <title>Cucumber Reporting Diagnostic</title>
  <link href="/js/style.css" rel="stylesheet" media="screen">
  <link href="/js/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>

<div class="container">

  <div class="row">
    <div class="span12">
      <div class="page-header">
        <h1>Cucumber-Reporting
          <small>Report diagnostic</small>
        </h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <h3>Error Detected</h3>
      <div>
       <%=  @error %>
    </div>
    </div>
  </div>


</div>

<script src="/js/jquery-1.9.1.min.js"></script>
<script src="/js/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>
